@switch (Position)
{
    case DockedPosition.BottomRight:
        <div style="position: fixed;right: 1%;bottom: 3%;" >
            @ChildContent
        </div>
        break;
    case DockedPosition.BottomLeft:
        <div style="position: fixed;left: 1%;bottom: 3%;" >
            @ChildContent
        </div>
        break;
    case DockedPosition.TopRight:
        <div style="position: fixed;right: 1%;top: 3%;" >
            @ChildContent
        </div>
        break;
    case DockedPosition.TopLeft:
        <div style="position: fixed;left: 1%;top: 3%;" >
            @ChildContent
        </div>
        break;
}


@code {
    [Parameter]
    public DockedPosition Position { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}